body {
    font-family: 'arial', sans-serif;
    background: url('/static/background.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: white;
    text-align: center;
}
.download-btn {
    display: inline-block;
    padding: 15px 30px;
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(255, 75, 50, 0.5);

}
.download-btn:hover {
    background: linear-gradient(45deg, #ff4b2b , #ff416c);
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(255, 75, 50, 0.7);

}


@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}